<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script  src="https://kit.fontawesome.com/b3348ae33f.js"
      crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/CSS/home.css">
    </head>
    <body>
        <div id="main">
            <div id="box">
                <h1>
                    TODO App
                </h1>
                <hr>
                <form action="/create-task" method="post">
                    <label for="desc" class="labels">DESCRIPTION</label>
                        <input type="text" name="desc" id="desc" placeholder="What do you need to do?" required>
                    <hr>
                    <aside>
                    <label for="grp" class="labels">CATEGORY</label>
                        <select id="grp" class="details" name="category">
                            <option  value="Personal">Personal</option>
                            <option  value="Work">Work</option>
                            <option  value="School">School</option>
                            <option  value="Other">Other</option>
                        </select>
                    </aside>
                    <span class="labels" style="margin-left:2rem;">DUE DATE</span>
                        <input type="date" name="date" id="desc" style="width: 12rem;" required>
                    <hr>
                    <button id="submit" type="submit"><i class="fa-solid fa-plus"></i> Add Task</button>
                    <hr>
                </form>
                <ul>
                    <% for(let i of tasklist){ %>
                        <li>
                            <p id="describe"><i class="fa-solid fa-bars-progress"></i><%= i.description %></p>
                            <span id="date"><i class="fa-solid fa-calendar-days"></i><%= i.date %></span>
                            <span id="category"><%= i.category %></span>
                            <a href="/delete-task/?id=<%=i.id%>"><i id="delete" class="fa-solid fa-trash"></i></a>
                        </li>
                        <hr>
                    <% } %>
                </ul>
            </div>
        </div>
    <script type="text/javascript" src="/JavaScript/home.js"></script>
    </body>
</html>